   h2 {
       text-align: center;
   }

   .card-body {
       text-align: left;
   }

   .img1 {
       height: 160px;
       width: 240px;
   }

   .img2 {
       height: 160px;
       width: 240px;
   }

   .img3 {
       height: 160px;
       width: 480px;
   }

   .anh1 {
       height: 68px;
       width: 160px;
   }

   .anh3 {
       height: 29px;
       width: 20px;
   }

   .text-white {
       text-align: center;
   }

   .text-white2 {
       text-align: center;
   }