   h1 {
       text-align: center;
   }

   .img1 {
       height: 160px;
       width: 240px;
   }

   .img2 {
       height: 160px;
       width: 240px;
   }

   .img3 {
       height: 160px;
       width: 480px;
   }

   .anh1 {
       height: 68px;
       width: 160px;
   }